@{
    ViewData["Title"] = "AddForm";
}

<h1>AddForm</h1>

<form action="/Employee/AddToDB" method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="Name" aria-describedby="Name" name="Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="number" class="form-control" id="Description" aria-describedby="Age" name="Age">
    </div>
    <div class="mb-3">
        <label for="Salary" class="form-label">Salary</label>
        <input type="number" class="form-control" id="Salary" name="Salary">
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email">
    </div>
      <div class="mb-3">
       <label for="office" class="form-label">Offices</label>
        <select class="form-select" id="Offices" name="Offices">
            <option selected>Open this select menu</option>
            @foreach (var office in ViewBag.Offices)
            {
                    <option value="@office.Id">@office.name</option>
            }
        </select>
    </div>
     <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="text" class="form-control" id="Password" name="Password">
    </div>
    <button type="submit" class="btn btn-primary">ADD</button>
</form>